# Binaries
/bin/
/*.exe
/*.out

# Generated documentation and shell completion files
# (The ones causes "dirty state" error)
completions/
manpages/

# OS / Editor files
*.DS_Store
*.swp

# environment variables
.env