name: organizer

on:
  push:
    tags:
      - "v*.*.*"   # Trigger only on version tags like v1.0.0

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Important! Fetch all history and tags for GoReleaser

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"


      - name: Install GoReleaser
        run: |
          curl -sL https://github.com/goreleaser/goreleaser/releases/latest/download/goreleaser_Linux_x86_64.tar.gz | tar xz
          sudo mv goreleaser /usr/local/bin/

      - name: Run GoReleaser
        run: goreleaser release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
